.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 3rem auto;
  width: 90%;
  max-width: 70rem;
  color: #ddd6cb;
}

@media (min-width: 960px) {
  .header {
    flex-direction: row;
    align-items: center;
  }
}

.image {
  position: relative;
  flex: 1;
  min-height: 18rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.45);
}

.headerText {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.headerText h1 {
  font-size: 2.5rem;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.creator {
  margin: 0;
  font-size: 1rem;
  color: #cfa69b;
}

.creator a {
  color: inherit;
}

.summary {
  margin: 0;
  font-size: 1.1rem;
  line-height: 1.6;
}

.content {
  width: 90%;
  max-width: 60rem;
  margin: 0 auto 4rem auto;
  color: #ddd6cb;
  font-size: 1.1rem;
  line-height: 1.8;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
